body {
  overflow: hidden;
  background: #011e3e;
  color: #65AFFF;
}
input {
  color: #2ABBFF !important;
  border: 1px solid #064E86 !important;
  background: #335C81 !important;
}
#clanNotFound {
  margin: 15px auto 0 auto;
  background: #274060 !important;
  border-color: #064E86 !important;
  width: 40% !important;
  margin-left: 30% !important;
}
#savingClan {
  margin: 15px auto 0 auto;
  background: #274060 !important;
  border-color: #064E86 !important;
  width: 40% !important;
  margin-left: 30% !important;
}
.button.ui.green {
  background: #2ABBFF !important;
}
#searchClanButton {
  -webkit-transition: all 500ms;
}
.clan-search {
  width: 40%;
  margin-left: 30%;
  position: relative;
  padding: 0 !important;
}
.clan-search input {
  border-color: #2ABBFF !important;
}
.player-row {
  padding: 8px 5px !important;
  border-color: #064E86 !important;
}
.player-row .container {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.player-row.active {
  background: #295584 !important;
}
.player-row .header {
  padding-top: 3px;
  font-size: 18px;
}
.player-row .description {
  font-size: 14px;
  float: left;
  margin-top: 2px;
}
#memberList {
  border: 1px solid rgba(39, 41, 43, 0.15);
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  overflow: auto;
  background: #274060;
  border-color: #064E86;
}
#memberSearch {
  width: 100%;
}
#memberColumn {
  margin-left: 31.25%;
  transition: all 500ms;
}
#memberColumn.left {
  margin-left: 0;
}
.player-window {
  border: 1px solid rgba(39, 41, 43, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: none;
  overflow: auto;
  background: #274060 !important;
  border-color: #064E86;
}
.player-window > h1 {
  font-size: 28px;
}
.top-leagues {
  margin: 0 auto;
  text-align: center;
  width: 520px;
  height: 170px;
}
.top-league {
  width: 25%;
  height: 170px;
  float: left;
  position: relative;
  display: block;
  min-width: 120px;
}
.top-league > .league {
  margin-left: 16px;
  margin-right: 50px;
}
.league-row {
  padding: 5px 11px !important;
  line-height: 28px;
}
.league-row .league {
  margin: 0;
  margin-right: 7px;
}
.ladder {
  margin-top: 15px;
  color: #ffffff !important;
}
.ladder-active td, .ladder-active tr {
  background-color: #295584 !important;
}
td.active {
  background: #564f8a !important;
}
#laddersLoading div, #savingClan div {
  background: #3b83c0 !important;
}
/* .ladder table {
  border-color: #064E86 !important;
}
.ladder th {
  border-color: #064E86 !important;
  background: #335C81 !important;
}
.ladder td {
  border-color: #064E86 !important;
  background: #335C81 !important;
} */
.header {
  color: #65AFFF !important;
}

/* league icons */
.league {
  position: relative;
  float: left;
}
.league-position {
  height: 20px;
  border: 2px solid #000000;
  -webkit-border-radius: 2px;
  padding: 2px 4px;
  font-size: 12px;
  position: relative;
  text-align: center;
  width: 30px;
  line-height: 13px;
  background: #000000;
  box-shadow: inset 0 0 4px gold, 0 0 6px gold;
  color: gold;
  bottom: -5px;
  right: -5px;
  position: absolute;
}
.league-big {
  height: 100px;
  width: 98px;
}
.league-mid {
  height: 48px;
  width: 44px;
  background-position-x: -100px;
}
.league-small {
  height: 28px;
  width: 26px;
  background-position-x: -144px;
}
.league[league="bronze"] {
  background-image: url(images/bronze.png);
}
.league[league="silver"] {
  background-image: url(images/silver.png);
}
.league[league="gold"] {
  background-image: url(images/gold.png);
}
.league[league="platinum"] {
  background-image: url(images/platinum.png);
}
.league[league="diamond"] {
  background-image: url(images/diamond.png);
}
.league[league="master"] {
  background-image: url(images/master.png);
}
.league[league="grandmaster"] {
  background-image: url(images/grandmaster.png);
}
.league-big[rank="top8"] {
  background-position-y: -315px;
}
.league-big[rank="top25"] {
  background-position-y: -210px;
}
.league-big[rank="top50"] {
  background-position-y: -103px;
}
.league-big[rank="top100"] {
  background-position-y: 2px;
}
.league-mid[rank="top8"] {
  background-position-y: -149px;
}
.league-mid[rank="top25"] {
  background-position-y: -99px;
}
.league-mid[rank="top50"] {
  background-position-y: -49px;
}
.league-mid[rank="top100"] {
  background-position-y: 2px;
}
.league-small[rank="top8"] {
  background-position-y: -90px;
}
.league-small[rank="top25"] {
  background-position-y: -60px;
}
.league-small[rank="top50"] {
  background-position-y: -30px;
}
.league-small[rank="top100"] {
  background-position-y: 0px;
}

/** Races **/

.race-small {
  width: 35px;
  height: 28px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
}
.protoss-small {
  background-image: url(protoss-small.png);
  padding: 0 2px 0 0 !important;
  margin-top: -2px;
  margin-right: 2px;
  background-position: 5px -1px;
}
.zerg-small {
  background-image: url(zerg-small.png);
  margin-top: -1px !important;
  padding-left: 2px !important;
}
.terran-small {
  background-image: url(terran-small.png);
  padding-left: 0px !important;
}
